/* .app {
    margin: 0;
    width: 100%;
    min-height: 100%;
} */


.menu {
    display: flex;

    align-items: center;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.2rem;

}

.menu li {
    padding: 1rem 1.5rem;
    font-size: 1.3rem;
}

.menu span {
    color: red;
    margin-right: 4rem;
    font-weight: bold;
    font-size: 2rem;
}